<div class="projects-table">
  <table>
    <thead>
      <tr>
        <th>Preview</th>
        <th>Project</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for project in collections.projects %}
      <tr>
        <td>
          {% if project.data.image %}
          <img src="{{ project.data.image }}" alt="{{ project.data.title }} preview" style="max-width: 200px; height: auto;">
          {% else %}
          <em>No preview available</em>
          {% endif %}
        </td>
        <td><a href="{{ project.url }}">{{ project.data.title }}</a></td>
        <td>{{ project.data.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>