<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}Jamie Buttenshaw</title>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/" class="nav-brand"><h1>Jamie Buttenshaw</h1></a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; Jamie Buttenshaw {{ "" | year }}</p>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>